@import "~bootstrap/scss/bootstrap";

.text-center {
    text-align: center!important;
}

.page {
	width: 1080px;
    background: #fff;
    padding: 30px;
    overflow: hidden;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.m-r-15 {
	margin-right: 15px;
}

#login {
	.form-signin {
	    width: 100%;
	    width: 330px;
	    padding: 15px;
	    margin: 0 auto;
	    margin-top: 100px;
	}

	.mb-3, .my-3 {
	    margin-bottom: 1rem!important;
	}

	button[type="submit"] {
		margin-top: 30px;
	}

	.form-signin input[type="password"] {
	    margin-bottom: 10px;
	    border-top-left-radius: 0;
	    border-top-right-radius: 0;
	}

	.form-signin input[type="email"] {
	    margin-bottom: -1px;
	    border-bottom-right-radius: 0;
	    border-bottom-left-radius: 0;
	}

	.form-signin .form-control {
	    position: relative;
	    box-sizing: border-box;
	    height: auto;
	    padding: 10px;
	    font-size: 16px;
	}
}

#dash {
	h3 {
		margin: 50px auto 30px;
	}

	.classes, .students {
		float: left;
		width: 345px;
	}

	.classes {
		margin-right: 85px;
	}

	.card {
		margin-bottom: 20px;
	}

	.tab-content {
	    padding-top: 30px;
	}

	.tab-pane {
		overflow: hidden;
	}

	.open-sub {
		margin-top: 30px;
	}
}

#grading {
	.grading-icon {
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;

		svg {
			position: absolute;
			width: 20px;
			height: 20px;
			left: -10px;
			top: -3px;
		}
	}

	h5 {
		padding-left: 10px;
	}

	input[type="submit"] {
		width: 100%;
	}

	.files {
		margin-top: 25px;
	}

	.code, .grade {
		float: left;
		width: 45%;
	}

	.code {
		margin-right: 10%;
	}

	.state {
	    background: #eee;
	    border: 1px solid rgba(0,0,0,.125);
	    padding: 1.25rem;
	    border-radius: 4px;
	}

	.criterion {
		margin: 25px 0;
		
		.card-body {
			padding-left: 2.5rem;
		}
	}
	
	.add-new {
		margin-left: -1.25rem;

		.form-control {
			display: inline-block;
		}

		input[type="checkbox"] {
		    vertical-align: top;
			margin-top: 12px;
		}

		.add-new-detail {
    		margin-left: 20px;
    		display: inline-block;
    		overflow: hidden;
    		width: 90%;
		}

		.add-new-credit {
			float: left;
			width: 55px;
    		padding: .5rem;
		}
		.add-new-desc {
			width: auto;
			margin-left: 10px;
		}
	}
}








